@model _3TierProjects3.DAL.model.LoginModel
@{ Layout = null; }

<link href="~/css/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/css/metisMenu.min.css" rel="stylesheet" />
<link href="~/css/css/startmin.css" rel="stylesheet" />
<link href="~/css/css/font-awesome.min.css" rel="stylesheet" />
<body style="background-image: url(/css/IMG_4417.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default" style="box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3); background-image: url(/css/Abc.jpg) ">
                    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" asp-controller="Student" asp-action="Login" role="tab"
                               aria-controls="pills-login" aria-selected="true">Login</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tab-register" data-mdb-toggle="pill" asp-controller="Student" asp-action="Registration" role="tab"
                               aria-controls="pills-register" aria-selected="false">Register</a>
                        </li>
                    </ul>

                    <h2 class="panel-title  text-center">Please Sign In</h2>

                    <div class="panel-body">
                        <form asp-action="Login" asp-controller="Student" formmethod="post">
                            <fieldset>
                                <input type="hidden" asp-for="StudentId" />
                                <input type="hidden" asp-for="Name" />
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" required>
                                </div>
                                <div>@TempData["Invalid"]</div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" required>
                                </div>
                                <div>@ViewBag.Inv</div>
                                <div class="form-group form-check">

                                    <input name="remember" type="checkbox"> Remember Me

                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/js/bootstrap.min.js"></script>
    <script src="~/js/js/metisMenu.min.js"></script>
    <script src="~/js/js/startmin.js"></script>
</body>


